.GameChoice {
    height: 50%;
    width: 40%;
    justify-content: center;
    border-color: black;
    background-color: #e7d598;
    margin: 10px;
    transition-property: all;
    transition-duration: 1s;
    box-shadow: 10px 10px black;
}

.GameChoice img {
    height: 300px;
    width: 300px;
}
.GameChoice:hover{
    border: solid black 1px;
    background-color: #a58d00;
    box-shadow: none;
}