.GameChoice {
    height: 50%;
    width: 40%;
    justify-content: center;
    border-color: black;
    border: dotted;
    background-color: crimson;
    margin: 10px;
}

.GameChoice img {
    height: 300px;
    width: 300px;
}