.GameChoice {
    height: 50%;
    width: 40%;
    justify-content: center;
    border-color: black;
    border: dotted;
    background-color: crimson;
    margin: 10px;
    transition-property: all;
    transition-duration: 1s;
}

.GameChoice img {
    height: 300px;
    width: 300px;
}
.GameChoice:hover{
    border: solid black 3px;
    background-color: yellow;
}