.Header {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    width: 100vw;
    align-items: center;
}

#header-links {
    width: 10vw;
    display: flex;
    justify-content: space-around;
    margin-right: 3vw
}

#header-links a {
    text-decoration: none;
}

#header-links a:hover { 
    text-decoration: underline;
}

#login-button, #register-button{
    border:none;
    background-color: yellow;
    font-size: 30px;
}
